body, html {
    height: 100%;
    overflow: hidden;
    text-align: center;
}

/* Header Styling */
header {
    background-color: rgba(39, 40, 41, 0.459); /* Dark background */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* Adjust image sizes in header */
.header-left img{
    height: 50px; /* Responsive height */
    width: auto;
    margin-left: 2vw;
    background-color: rgba(124, 124, 124, 0.404);
    border-radius: 10px;
}

.header-right img{
    height: 70px; /* Responsive height */
    width: auto;
    margin-left: 4vw;
}

.header-right p{
    font-size: medium;
    margin-right: 4vw;
}

/* Middle text */
.header-middle {
    text-align: center;
    flex-grow: 1;
}

.header-middle h1 {
    font-size: 5vw; /* Responsive font-size */
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: space-between;
}

nav{
    justify-content: space-between;
    margin-top: 15%;
}

ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
    margin: 0 auto; /* Center the list horizontally */
    text-align: center; /* Aligns the list items */
    
}

li {
    text-align: center;
    display: grid;
    gap: 25px;
}

a {
    color: aliceblue;
    text-decoration: none;
    font-size: 3vh;
    padding: 10px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: rgb(96, 99, 109);
    border-radius: 5px;
}


.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}