body, html {
    height: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

header{
    background-color:rgba(0, 0, 0, 0.445);
    justify-content: space-between;
    margin: auto;
    font-size: 5vw;
    width: 50vw;
    border-radius: 25px;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: space-between;
}

nav{
    justify-content: space-between;
}

ul {
    list-style: none;
    gap: 25px;
    justify-content: space-between;
    text-align: center;
}

li {
    display: grid;
    justify-content: center;
    gap: 25px;
    text-align: center;
}

a {
    color: aliceblue;
    text-decoration: none;
    font-size: 4vh;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: rgb(96, 99, 109);
    border-radius: 5px;
}


.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}