body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fly-in-out {
    position: absolute; /* Allows each text to be placed independently */
    animation: flyInOut 60s ease-in-out infinite;
    opacity: 0; /* Initially hidden */
    display: flex;
    align-items: center;
}

/* Staggered delay for each text */
.fly-in-out:nth-child(1) { /*Project 1*/
    animation-delay: 0s;
    
}

.fly-in-out:nth-child(2) {
    animation-delay: 25s; /* Starts after the first text */
}

.fly-in-out:nth-child(3) {
    animation-delay: 45s; /* Starts after the second text */
}

@keyframes flyInOut {
    0%, 100% {
        transform: translateX(-100%);
        opacity: 0;
    }
    20%, 30% {
        transform: translateX(0);
        opacity: 1;
    }
    70%, 80% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the screen */
    z-index: -1; /* Keeps the video in the background */
}

h1{
    color: aliceblue;
    margin-left: auto;
    text-align: right;
}

img{
    border-color: aliceblue;
    border-radius: 5%;
    color: aliceblue;
    margin-left: auto;

}

p{
    color: aliceblue;
    text-align: right;
    margin-left: auto;
}